body{
    background-color: blueviolet;
}
.header{
    font-size :18px;
    border-radius:10px;
    letter-spacing:10px;
    width:400px;
    height: 100px;
}
span
{
  font-size: 30px;
}

#webcam , #result{
    border: 2px solid black;
    width: 350px;
    height: 300px; 
    border-radius:10px;
}

#result_gesture_meaning ,#result_gesture_meaning_2  
{
  color: black;
}
.gesture_meaning
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}